<% content_for(:title, "Editing #{@question.text}") %>

<section class='section'>
  <header class='level'>
    <h1 class='title is-1 level-left'>Editing Question</h1>
    <%= link_to 'Cancel', questions_path, class: "level-right ml-2 #{button_classes('is-primary')}" %>
  </header>
</section>

<%= render 'form', deck: @deck, question: @question %>
