<% content_for(:title, "New Question") %>

<section class='section'>
  <header class='level'>
    <h1 class='title is-1 level-left'>New Question</h1>
    <%= link_to 'Cancel', questions_path, class: "level-right ml-2 #{button_classes('is-primary')}" %>
  </header>
</section>

<%= render 'form', question: @question %>
