<% content_for(:title, "New Question") %>

<%= link_to 'Back', questions_path, class: button_classes('secondary float-right') %>

<h1 class='title is-1'>New Question</h1>

<%= render 'form', question: @question %>
