<% if object.errors.any? %>
  <div id="error_explanation">
    <h2 class='title is-h2 has-text-danger'><%= pluralize(object.errors.count, "error") %> prohibited this object from being saved:</h2>

    <ul class='mb-5'>
    <% object.errors.full_messages.each do |message| %>
      <li class='has-text-danger'><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
