<%= form_tag(destination_url, method: 'get', id: 'search-form' ) do %>
  <div class="columns">
    <div class="column">
      <div class="control has-icons-left">
        <%= text_field_tag :search, params[:search], placeholder: 'Search', class: 'input' %>
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
  </div>
<% end %>

<p class='clear-search'><%= link_to 'Clear Search', destination_url %></p>
