<% content_for(:title, "Edit #{@game.created_at}") %>

<header>
  <h1>Editing Game</h1>
  <%= link_to 'Back', games_path, class: "ml-2 controls #{button_class('secondary')}" %>
</header>

<%= render 'form', game: @game %>
