<section class='section centered'>
  <h1 class='title is-h1'>😕</h1>
  <h1 class='title branded centered'>Sorry!<br>This game is no longer accepting players.</h1>
  <p>You'll have to wait for another game to start.</p>
</section>
