<% content_for(:title, "Games") %>

<header>
  <h1>Games</h1>
  <%= link_to '+ Start New Game', new_game_path, class: "controls #{button_class}" %>
</header>

<ul>
  <% @games.each do |game| %>
  <li><%= link_to game.date, game %> (players: <%= display_players(game) %>)</li>
  <% end %>
</ul>

<%= will_paginate @games, :page_links => false %>
