<% content_for(:title, 'New Game') %>

<header>
  <h1 class='title is-1'>New Game</h1>
  <%= link_to 'Cancel', games_path, class: "controls #{button_classes('is-primary')}" %>
</header>

<%= render 'form', game: @game %>
