<% content_for(:title, 'New Game') %>

<section class='section'>
  <header class='level'>
    <h1 class='title is-1 level-left'>New Game</h1>
    <%= link_to 'Cancel', games_path, class: "level-right #{button_classes('is-primary')}" %>
  </header>
</section>

<%= render 'form', game: @game %>
