<p><%= @submission.voter.name %>, you submitted:</p>
<h3><%= @submission.candidate.name %></h3>
<p>for <%= @submission.round.question.text %></p>

<% if @round.submissions.size == @game.players.size  %>
  <%= link_to 'See Results', game_round_path(@game, @round), class: button_block %>
<% else %>
  <p>hold tight while your teammates submit their votes...</p>
<% end %>
