<section class='section form-narrow'>
  <h1 class='title is-1'>Have a question card you'd like to add to the game?</h1>
  <p>Submit your question here:</p>

  <%= render 'form', suggested_question: @suggested_question %>
</section>
