<section class='section form-narrow'>
  <h1 class='title is-1'>Thanks for your submission!</h1>
  <p>We're reviewing it right now.</p>

  <%= link_to 'Want to submit another question?', new_suggested_question_path, class: "#{button_classes} mt-10" %>
</section>
