<section class='section centered'>
  <h1 class='title branded centered'>Hold tight while your teammates arrive...</h1>
  <div id='game-players'>
    <% @game.players.each do |player| %>
      <p class='title is-4 mb-0'><%= player.name %></p>
    <% end %>
  </div>

  <% unless @game.active? %>
    <%= link_to 'Is Everybody is Here? Start the Game!', players_ready_path(id: @game.id), method: :post, class: "mt-6 #{button_classes}" %>
  <% end %>
</section>
