<li class="nav-item">
  <%= link_to 'Placeholder Link', root_path, class: 'nav-link' %>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to 'Placeholder Link', root_path, class: 'dropdown-item' %>
    <div class='dropdown-divider'></div>
    <%= link_to 'Placeholder Link', root_path, class: 'dropdown-item' %>
  </div>
</li>
