@import 'variables';

// BULMA OVERRIDES
.title {
  font-weight: normal;
  text-transform: none;
}

// https://versions.bulma.io/0.7.0/documentation/components/navbar/
nav.is-info {
  background-color: $navbar !important;
}

.section { padding: 1.5rem; }

.hero-body {
  .winner {
    font-size: 3em;
    line-height: 105%;
    margin-top: -.5em;
    text-shadow: $drop-shadow;
  }
}
