@import 'variables';

// BULMA OVERRIDES
.title {
  text-transform: none;
  font-weight: normal;
}

// https://versions.bulma.io/0.7.0/documentation/components/navbar/
nav.is-info {
  background-color: $navbar !important;
}
.section {
  padding: 1.5rem 1.5rem;
}

.hero-body {
  .winner {
    font-size: 3em;
    margin-top: -.5em;
    line-height: 105%;
    text-shadow: $drop-shadow;
  }
}
