@import 'variables';

.round-winner-name {
  color: $is-link;
  font-size: 3em;
}

// GAME WINNER BOX
.vertical-center-parent {
  align-items: center;
  display: flex;
}

.grand-winner-box {
  --border-width: 3px;
  $width: 50%;
  border-radius: var(--border-width);
  color: #fff;
  height: $width * .9;
  max-width: 500px;
  min-width: 300px;
  padding: 4rem 1rem;
  width: $width;

  &::after {
    animation: moveGradient 4s alternate infinite;
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-position: 0 50%;
    background-size: 300% 300%;
    border-radius: calc(2 * var(--border-width));
    content: '';
    height: calc(100% + var(--border-width) * 2);
    left: calc(-1 * var(--border-width));
    position: absolute;
    top: calc(-1 * var(--border-width));
    width: calc(100% + var(--border-width) * 2);
    z-index: -1;
  }

  .subtitle { color: $black; }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
