@import 'variables';

.right { float: right; }

.footer--delete {
  border-top: 1px solid $gray;
  margin-top: 2rem;
  padding-top: 1rem;
}

.image {
  max-width: 600px;
  width: 100%;
}

.environment-banner {
  color: $white;
  font-family: monospace;
  font-size: 1.25em;
  padding: .75em;
  text-align: center;
  background-color: $medium-gray;
}

.hidden { visibility: hidden; }

// Fonts
a.nav-brand-name {
  // font-family: 'Bungee Outline', cursive;
  font-family: 'Chewy', cursive;
  font-size: 2.5em;
  color: $white;
  &:hover { color: $is-warning; };
}

.branded { font-family: 'Chewy', cursive; }

// Icons
.fa-check { color: $is-success; }
.fa-times { color: $is-danger; }

// Links
a { color: $link-color; }

// Controls
// Replace these with Bulma level, level-left, level-item, etc
header,
.controls-parent {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  a {
    clear: both;
    margin-left: 10px;

    &:hover {
      color: $default-text;
      text-decoration: none;
    }
  }
}

// Forms
.field {
  label {
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .form-check-label {
    font-weight: normal;
    margin-top: 0;
  }
}

.input-error { border: 1px solid $error; }
.error-helper-text { color: $error; }
.file-field { color: $medium-gray; }


// SEARCH BAR
.search-icon {
  color: $medium-gray;
  float: right;
  position: relative;
  right: 14px;
  top: 25px;
}

.clear-search {
  font-size: 90%;
  margin-bottom: 2em;
  text-align: center;
  a { color: $medium-gray; }
}

.brand-image {
  height: 60px;
}

// FUNSIES
.grand-winner-box {
  --border-width: 3px;
  // Gradient border only
  // width: 500px;
  // height: 500px;
  // padding-top: 20%;
  // background: white;
  // border-radius: var(--border-width);

  // Full gradient background
  width: 500px;
  height: 300px;
  padding-top: 100px;
  color: white;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}


// BULMA OVERRIDES
.section {
  padding: 1.5rem 1.5rem;
}

.hero-body {
  .winner {
    font-size: 3em;
    margin-top: -.75em;
    text-shadow: $drop-shadow;
  }
}
