@import 'variables';

.mt-2 { margin-top: 2em; }
.mt-5 { margin-top: 5em; }
.mt-10 { margin-top: 10em; }

.mb-2 { margin-bottom: 2em; }
.mb-5 { margin-bottom: 5em; }
.mb-10 { margin-bottom: 10em; }

.mr-2 { margin-right: 2em; }
.mr-5 { margin-right: 5em; }
.mr-10 { margin-right: 10em; }

.ml-2 { margin-left: 2em; }
.ml-5 { margin-left: 5em; }
.ml-10 { margin-left: 10em; }
