// Dimensions
$card-image-height: 100px;
$card-height: $card-image-height * 4;
$table-thumbnail: 40px;

// Colors: Brand Assignments
$brand-dark-blue: #2b5f6e;
$brand-light-blue: #369eba;
$brand-purple: #7a3c50;
$brand-brown: #3b3711;
$brand-yellow: #bab13f;
$brand-main: $brand-dark-blue;
$brand-secondary: $brand-light-blue;

// Colors: Bulma
$is-primary: #00d1b2;
$is-info: #3298dc;
$is-success: #48c774;
$is-link: #3273dc;
$is-warning: #ffdd57;
$is-danger: #f14668;
$is-light: #f5f5f5;
$is-dark: #363636;

// Colors: Other
$white: #fff;
$default-text: $brand-dark-blue;
$light-gray: #f1f1f1;
$gray: #808080;
$medium-gray: #ccc;
$link-color: $brand-light-blue;
$error: #f00;

// Features
$drop-shadow: 2px 2px 4px #222;
