<% content_for(:title, "Edit #{@category.name}") %>
<%= link_to 'Back', categories_path, class: button_class('secondary float-right ml-3') %>

<h1>Editing <%= @category.name %></h1>

<%= render 'form', category: @category %>
