<% content_for(:title, "Categories") %>

<%= link_to 'New Category', new_category_path, class: button_class('primary float-right') %>

<h1>Categories</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Manage</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
